header { display: grid;
  grid-template-columns: 1fr 1fr ; 
  
  margin-top: 50px;}

.logo { 
    text-align: left;
    
    margin-left: 25px;
 }

.nav-responsive-ul {
    display: none;
}
.nav-li {
    display: inline-block;
    list-style:none ;
    padding: 12px;
}

.nav-li a {
    color: hsl(0, 0%, 75%);
    text-decoration: none;
}
.nav-li:hover > a {
    color: #454545;
}
.nav-responsive-button{
    float: right;
    font-size: 25px;
    margin-right: 30px;
    border-spacing: 0px;
  }
.nav-li-container fas fa-bars   {
  margin-top:0px;
  float: right;
    font-size: 25px;
    margin-right: 30px;
    border-spacing: 0px;
}
@media only screen and (max-width: 650px) {
    .nav-ul {
    display:none;
    }
  
    .nav-responsive-ul {
      display: block;
      margin:3px;
       
    }
    .nav-responsive-li {
      list-style: none;
    }
    .nav-responsive-li a {
      text-decoration: none;
    }
}
