.attribution {
    font-size: 11px;
    text-align: center;
  }

  .attribution a {
    color: hsl(228, 45%, 44%);
  }

  body {
    font-family: 'Poppins', sans-serif;
    width: 375px;
    text-align: center;
  }
  *{
      border: solid 1px blue;
  }

 
  .shortenlink-form__form-input2 {
    background-color: #4169E1;
	  border: none;
	  border-radius: 5px;
    cursor: pointer;

  }

  .get-started__form{
    
    font-family: Poppins;
    font-size:18px;
    color:#FFFFFF;
    background-color: #00FFFF;
    border: none;
    border-radius: 6x;
    cursor: pointer;
    width: 270px;
    height: 53px; 

   }
  .shortenlink-form__form-input2 {
    font-family: Poppins;
    font-size: 18px;
    color: #FFFFFF;
    background-color: #00FFFF;
    border: none;
    border-radius: 3x;
    cursor: pointer;
    width: 270px;
    height: 53px; 
    box-shadow: 
  }

