.attribution {
    font-size: 11px;
    text-align: center;
  }

  .attribution a {
    color: hsl(228, 45%, 44%);
  }

  body { width: 375px; text-align: center;}
  *{
      border: solid 1px blue;
  }

 
  .shortenlink-form__form-input2 {
    background-color: #4169E1;
	  border: none;
	  border-radius: 5px;
    cursor: pointer;

  }
