
.header {  
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
}

* {
  border: 1px solid red;
}
.logo { 
  text-align: left;
  margin-left: 25px;  
}
.nav-list {
  background: hsl(257, 27%, 26%);
  width: 85%;
  position: absolute;
  left: 0;
  padding: 8% 5%;
  border-radius: 10px;
  margin: 2%;
}
.nav-desktop {
  display: none;
}
.nav-list li {
  padding: 5%;
  list-style: none ;
}
.hr-line {
  border: 1px;
}
.nav-list a{
  color: white;
  font-weight: 700;
  text-decoration-line: none;
  font-size: 20px;
  
}
.nav summary::-webkit-details-marker {
  display: none;  
}
.sign-up {
  display: grid;
  color:#FFFFFF;
  background-color: hsl(180, 66%, 49%);
  border: none;
  border-radius: 85px;
  cursor: pointer;
  height: 40px; 
  place-content: center;
}
.menu-icon{
  color: var(--gray);
}
.nav {
  margin-right: 10%;
}
@media screen and (min-width: 760px) {
  .nav {
    display: none;
  }
  .nav-desktop {
    display: flex;
    flex-basis: 75%;
    
  }
  .nav-desktop li{
    list-style: none;
  }
  .nav-desktop a {
    text-decoration: none;
    padding: 0 20px;
    font-weight: 700;
    color: var(--grayish-violet);
    font-size: 15px;
    
  }

  .nav-desktop2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

  }

  .nav-desktop2 a {
    text-decoration: none;
    padding: 0 20px;
    font-weight: 700;
    font-size: 15px;
    

  }
    
}








