.copySection {
  display: flex;

}
.fullLink {
  background-color: saddlebrown;
  height: 500px;
}
.shortenLink {
  background-color: red;
  height: 500px;
}
.copyButton{
  font-family: Poppins;
  font-size:18px;
  color:#FFFFFF;
  background-color: hsl(180, 66%, 49%);
  border: none;
  border-radius: 85px;
  cursor: pointer;
  text-decoration: none;
  font-weight: 700;
}
.shortenlink-form-form {
  background-color: hsl(257, 27%, 26%);
  background-image:url('../images/bg-shorten-mobile.svg');
  background-repeat: no-repeat;
  background-position: top right;
  border-radius: 8px;
  padding: 26px;
  grid-column: 1;
  grid-row: 2 / span 2;
  z-index: 10;
  align-self: end;
  justify-self: center;
}

.shortenlink-form-form-input2 {
  font-family: Poppins;
  font-size: 18px;
  color: #FFFFFF;
  background-color:hsl(180, 66%, 49%);
  border: none;
  border-radius: 3px;
  cursor: pointer;
  display: block;
  height: 40px;
  width: 250px;
  font-weight: 700;
}

.shortenlink-form-form-input1 {
  color: hsl(0, 0%, 75%);
  text-align: left;
  font-family: 'Poppins';
  border: none;
  border-radius: 3px;
  margin-bottom: 15px;
  display: block;
  height: 40px;
  width: 250px;
  padding-left: 5%;
}

